body,
html {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #f0f0f0;
}

p,
a {
    display: inline;
}

a {
    color: #276439;
    text-decoration: wavy underline #42f879;
}

#center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
